* {
  margin: 0;
}

.mainContainer {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding: 1vh 1vw;
  width: 100%;
  height: auto;
}
.content {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 50px 20px 20px 20px;
}

.input {
  height: 4%;
  margin: 10px;
  width: 40%;
  font-size: 20px;
  border-radius: 10px;
  padding: 0px 10px;
}

h2 {
  height: auto;
  color: white;
}